{% extends 'smsapp/base.html' %}

{% block content %}


<div class="container">
    <h1 class="display-3 py-5">Registration Panel</h1>

    <div class="row py-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Student Registration</h5>
              <p class="card-text">Sign up as a student</p>
              <a href="{% url 'std_register' %}" class="btn btn-success">Sign Up</a>
            </div>
          </div>
        </div>
        <div class="test">
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Teacher Registration</h5>
              <p class="card-text">Sign up as a Teacher</p>
              <a href="{% url 'teach_register' %}" class="btn btn-success">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
       
</div>

{% endblock %}